# Dependencies
node_modules/

# Production builds
.next/
out/
dist/

# Environment variables
.env*

# Package managers
package-lock.json
yarn.lock
pnpm-lock.yaml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
